/* Font En */

@font-face {
    font-family: "circe";
    src: url(../fonts/circe-regular.ttf);
}

@font-face {
    font-family: "circeBold";
    src: url(../fonts/circe-bold.ttf);
}

@font-face {
    font-family: "mackay";
    src: url(../fonts/mackay-regular.otf);
}

@font-face {
    font-family: "mackayBold";
    src: url(../fonts/mackay-bold.otf);
}


/* Font Ar */

@font-face {
    font-family: "bahij";
    src: url(../fonts/Bahij_TheSansArabic-Plain.ttf);
}

@font-face {
    font-family: "bahijBold";
    src: url(../fonts/Bahij_TheSansArabic-Bold.ttf);
}

@font-face {
    font-family: "bahijLight";
    src: url(../fonts/Bahij_TheSansArabic-Light.ttf);
}

@font-face {
    font-family: "bahijSemiBold";
    src: url(../fonts/Bahij_TheSansArabic-SemiBold.ttf);
}