@media (min-width: 1500px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        width: 100%;
        max-width: 100%;
        flex: auto;
    }
    .nav-inner {
        display: none;
    }
    .menu-left .mobile-nav-toggler {
        display: block;
    }
    .header-in .menu-left {
        gap: 10px;
    }
    .slider-block .text-slider h1 {
        font-size: 30px;
        line-height: 1.5;
    }
    .slider-block .text-slider {
        min-height: auto;
        margin-top: 90px;
    }
    .btn-s {
        gap: 10px;
        flex-wrap: wrap;
    }
    .btn-s .btn {
        min-width: 120px;
        min-height: 45px;
        padding: 10px;
        font-size: 16px;
        margin: 0;
    }
    .home-slider .owl-dots,
    .home-slider.owl-carousel .owl-nav,
    .home-slider.owl-carousel .owl-nav {
        display: none;
    }
    .slider-block,
    .slider-block .row {
        min-height: 450px;
    }
    .about-h,
    .projects-h {
        padding: 50px 0;
    }
    .img-about {
        height: 300px;
        margin: 0 0 30px;
    }
    .about-block .title-about h3 {
        font-size: 20px;
    }
    .about-block .title-about {
        margin: 0 0 17px;
    }
    .about-block .text-about p {
        font-size: 15px;
        margin: 17px 0;
        max-height: 135px;
    }
    .btn {
        min-width: 120px;
        min-height: 45px;
        font-size: 15px;
        padding: 10px 20px;
    }
    .animation-rotate {
        display: none;
    }
    .title h3 {
        font-size: 25px;
    }
    .title p {
        font-size: 14px;
        margin: 15px auto 0;
    }
    .title {
        margin: 0 0 20px;
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 45px;
        height: 45px;
        font-size: 19px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .btn i {
        margin-inline-start: 5px;
    }
    .projects-h .btn {
        margin: 20px auto 0;
    }
    .counter-h {
        padding: 20px 0 50px;
    }
    .count-block {
        margin: 15px auto;
        max-width: 300px;
    }
    .news-h {
        padding: 30px 0 50px;
    }
    .news-h .title {
        margin: 0 0 30px;
    }
    .news-h .btn {
        margin: 20px auto 0;
    }
    .clients-h {
        padding: 30px 0;
    }
    .title-clients h3 {
        font-size: 18px;
    }
    .footer-col h3 {
        margin: 20px 0;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-bottom .row {
        flex-direction: column-reverse;
    }
    .capy-right {
        justify-content: center;
    }
    .capy-right p {
        font-size: 15px;
    }
    .breadcrumb {
        min-height: 200px;
    }
    .breadcrumb .text-bread {
        padding-bottom: 50px;
    }
    .breadcrumb .text-bread h1 {
        font-size: 22px;
    }
    .body-inner {
        padding: 50px 0;
    }
    .img-about-in {
        height: 300px;
        margin-top: 30px;
    }
    .img-about-in .img {
        max-width: 286px;
        height: 280px;
    }
    .about-more {
        padding: 40px 0;
    }
    .block-about-in {
        padding: 20px;
    }
    .block-about-in .title-block .icon {
        width: 45px;
        height: 39px;
        font-size: 20px;
    }
    .block-about-in .title-block h3 {
        width: calc(100% - 45px);
        padding-inline-start: 10px;
        font-size: 18px;
    }
    .block-about-in .title-block {
        margin: 0 0 15px;
    }
    .block-about-in .details p {
        font-size: 13px;
        line-height: 1.8;
    }
    .object-h {
        padding: 50px 0;
    }
    .all-object .item .object-block .details p {
        font-size: 13px;
    }
    .all-object .item .object-block .num {
        width: 50px;
        height: 50px;
        margin-inline-end: -25px;
    }
    .all-object .item .object-block .details {
        width: calc(100% - 25px);
        padding: 10px;
        padding-inline-start: 35px;
    }
    .manger-h {
        padding: 0 0 50px;
    }
    .img-manger {
        height: 277px;
        margin: 0 0 30px;
    }
    .text-manger .name-manger h3 {
        font-size: 17px;
        margin: 0 0 5px;
    }
    .text-manger .name-manger span {
        font-size: 14px;
    }
    .text-manger .words-manger {
        min-height: 200px;
        padding: 15px;
    }
    .text-manger .words-manger p {
        font-size: 13px;
        line-height: 1.6;
    }
    .text-manger .name-manger {
        margin: 0 0 15px;
        padding-inline-end: 25px;
    }
    .text-manger .name-manger::after {
        font-size: 20px;
    }
    .single-block {
        height: auto;
    }
    .multi-step-form fieldset {
        padding: 15px;
    }
    .all-choose .all-choose-in .item {
        max-width: 95%;
    }
    .all-choose .all-choose-in .item input {
        width: 15px;
        height: 15px;
    }
    .all-choose .all-choose-in .item .title-item {
        width: calc(100% - 15px);
        padding-inline-start: 10px;
    }
    .all-choose .all-choose-in .item .title-item span {
        font-size: 13px;
    }
    .all-choose {
        padding: 10px;
    }
    .all-choose .all-choose-in .item {
        padding: 12px 0;
    }
    .main-page.body-inner {
        padding-top: 90px;
    }
    .step-block-in.multi-step-form h3 {
        padding: 20px;
        font-size: 18px;
    }
    .form-main2 {
        padding: 20px;
    }
    .info-bottom-main {
        padding: 20px 0 0;
    }
    .info-bottom-main .callNow i {
        width: 30px;
        height: 30px;
    }
    .info-bottom-main .callNow span {
        font-size: 14px;
        width: calc(100% - 30px);
    }
    .info-bottom-main .fh-f {
        justify-content: start;
        margin-top: 20px;
    }
    .info-bottom-main .callNow,
    .info-bottom-main .fh-f {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {}

@media (max-width: 767px) {}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
    .news-slider .item {
        padding: 0;
    }
    .projects-slider .item {
        padding: 0;
    }
    .pro-block {
        height: 350px;
    }
    .clip-text {
        font-size: 35px;
    }
    .logo-h .logo {
        width: 100px;
    }
    header .menu-nav {
        padding: 12px 0;
    }
}

@media (max-width: 480px) {
    .btn-s .btn {
        font-size: 12px;
        min-width: 95px;
        min-height: 40px;
    }
}

@media (max-width: 390px) {}

@media (max-width: 360px) {}